.btn button {
    background: linear-gradient(45deg, rgb(59, 180, 89) 20%, rgb(15, 177, 177));
    height: 40px;
    color: white;
    border: none;
    padding: 6px 35px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.btn button:hover{
    opacity: 0.6;

}